<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MultiBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MultiBoard.Properties.Settings>
            <setting name="FileOpen_LastLocation" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="ErrorList" serializeAs="String">
                <value />
            </setting>
            <setting name="ThreadPriority" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="StayHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeOutDelay" serializeAs="String">
                <value>6000</value>
            </setting>
        </MultiBoard.Properties.Settings>
    </userSettings>
</configuration>